<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Restaurant Menu</h1>
     <!--jinja calls the key for the content of the pizza item
        however here we do meal.1 for the first item in the tuple-->
    {% for meal in meals %}
        <h2> {{ meal.1 }} </h2>
            {% for row in item_list %} <!-- item_list is a special list in django-->
                {% if row.meal_type == meal.0 %} <!--display only if the current meal type shown, avoids duplication-->
                   {% if row.status == 0 %}
                        <a href="{% url 'menu_item' row.pk %}"><h3><del>{{ row.meal}}</del></h3></a>
                        <p>{{ row.description}}</p>
                    {% else %}
                        <a href="https://example.com"><h3>{{ row.meal}}</h3></a>
                        <p>{{ row.description}}</p>
                    {% endif %}
                {% endif %}
            {% endfor %}
    {% endfor %}
</body>
</html>