{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="display-4 text-center my-5">Mosaic Flavors Restaurant</h1>
    <h4>Our Menu</h4>

    {% for meal in meals %}
    <h2 class="display-5 mt-4">{{ meal.1 }}</h2>
    <ul class="list-group list-group-flush">
        {% for row in item_list %}
        {% if row.meal_type == meal.0 %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {% if row.status == 0 %}
            <a href="{% url 'menu_item' row.pk %}">
                <del>{{ row.meal }}</del>
            </a>
            {% else %}
            <a href="{% url 'menu_item' row.pk %}">{{ row.meal }}</a>
            {% endif %}
            <span class="badge bg-primary rounded-pill">Price: ${{ row.price }}</span>
        </li>
        <li class="list-group-item">{{ row.description }}</li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endfor %}
</div>
{% endblock content %}
